.profile {
  max-width: fit-content;
  max-height: fit-content;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

.description {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.name {
  color: black;
  font-weight: 600;
  margin: 0;
}

.tag {
  color: grey;
  margin: 0;
}

.location {
  color: grey;
  margin: 0;
}

.avatar {
  border-radius: 50%;
  border: 3px solid black;
}

.stats {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.stats li {
  background-color: rgb(176, 246, 246);
  padding: 15px;
}

.label {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: center;
  margin-bottom: 5px;
  color: grey;
}

.quantity {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
}
