.friendList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  max-width: 216px;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.item {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
  border-radius: 25px;
  align-items: center;
  margin: 0 5px;
}

.statusOnline {
  color: green;
  margin-left: 5px;
}

.statusOffline {
  color: red;
  margin-left: 5px;
}

.avatar {
  border-radius: 25%;
  border: 1px solid black;
  margin: 5px;
}

.name {
}
